body {
  background: pink;

}


  p {
      font-family: "Times New Roman", Georgia, Serif;
  }



h1 {
  color: blue;
  font-size: 200%;
}

h2 {
  color: green;
  font-weight: normal;
  font-style: italic;
}

li.completed {
text-decoration: underline;
}
