body {
  background: pink;

 #tasks h1 {
  color: blue;
  font-size: 3em;
}

#tasks h2 {
  color: green;
  font-weight: normal;
  font-style: italic;
}

#tasks .completed {
  font-family: Georgia;
}

#tasks .completed {
  background: pink;
  text-decoration: underline;
}
